.search-container {
    text-align: right;
}

.search-form {
    padding: 1rem;
}

.search-form label span {
    color: #999;
    margin-right: .5rem;
    padding: .5rem;
    font-size: 1.75rem;
}

.search-input {
    font-family: inherit;
    font-size: 1rem;
    padding: .5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    width: 13rem;
    margin-right: 1rem;
}

.search-button:focus {
    outline: none;
}